{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Quiz</th>
            <th>Time</th>
            <th>Score</th>

        </tr>
        </thead>
        <tbody>
        {% for item in userquizhistory_list %}
            <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ item.quiz.title }}</td>
                <td>{{ item.created_at }}</td>
                <td>{{ item.score|floatformat:2 }} out of {{ item.quiz.max_score|floatformat:2 }}</td>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class="btn" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
            {% else %}
                <li class="disabled btn"><span><<</span></li>
            {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active btn btn-info"><span>{{ i }}<span class="sr-only">(curent)</span></span></li>
            {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled btn"><span>>></span></li>
        {% endif %}
        <span class="align-right"> Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>
        </ul>
    {% endif %}
{% endblock %}