{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Quiz</th>
            <th>Category</th>
            <th>Creator</th>
        </tr>
        </thead>
        <tbody>
        {% for item in quiz_list %}
            <tr>
                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.creator }}</td>
                <td>{% if item.active is True %}
                        Activ
                    {% else %}
                        Dezactivat
                    {% endif %}
                </td>
                <td><a href="{% url 'quiz:update_quiz' pk=item.id %}" class="btn btn-success">Editare quiz</a></td>
                <td><a href="{% url 'quiz:adaugare_intrebare' quiz_id=item.id %}" class="btn btn-success">Adaugare intrebari</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a class="btn" href="?page={{ page_obj.previous_page_number }}"><<</a></li>
            {% else %}
                <li class="disabled btn"><span><<</span></li>
            {% endif %}
        {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="active btn btn-info"><span>{{ i }}<span class="sr-only">(curent)</span></span></li>
            {% else %}
                <li><a class="btn" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li><a class="btn" href="?page={{ page_obj.next_page_number }}">>></a></li>
        {% else %}
            <li class="disabled btn"><span>>></span></li>
        {% endif %}
        <span class="align-right"> Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>
        </ul>
    {% endif %}
{% endblock %}