{% extends 'base.html' %}

{% block content %}
  <h1>Edit Quiz: {{ quiz.title }}</h1>
  <form method="post" action="{% url 'quiz:update_quiz' quiz.id  %}">
    {% csrf_token %}
    {% for field in form %}
    <label>{{ field.label_tag }}</label>
    {{ field }}
    <br>
  {% endfor %}
    <button type="submit">Save</button>
  </form>

  <!-- Display Questions -->
<h2>Questions</h2>
  {% for question in questions %}
    <div>
      <h3>{{ question.text }}</h3>
      <!-- Display Edit Button for each Question -->
      <a href="{% url 'quiz:update_question' question.id %}">Edit</a>
      <ul>
        {% for choice in question.get_choices %}
          <li>{{ choice.text }} {% if choice.is_correct %}(Correct){% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

  <!-- Form for adding a new question -->
  <form method="post" action="{% url 'quiz:adaugare_intrebare' quiz.id %}">
    {% csrf_token %}
    <!-- Include Question ModelForm fields here -->
    <button type="submit">Add Question</button>
  </form>
{% endblock %}