<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
     <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <title>Quiz Time</title>

</head>
<body>
<div >
            <nav >
                {% if request.user.is_authenticated %}
                <div >
                    <a class ="button-primary" href="{% url 'quiz:quiz_nou' %}">Add quiz</a>
                    <a class ="button-primary" href="{% url 'quiz:categorie_noua' %}">Add category</a>
                    <a class ="button-primary" href="{% url 'quiz:lista_quizuri' %}">Quiz</a>
                    <a class ="button-primary" href="{% url 'quiz:istoric_quiz' %}">Results</a>
                </div>
                <div style="text-align: right">
                    <p><span>Hi,<a href="{% url 'userprofile:editare_utilizator' user.id %}" >{{ request.user.first_name }}</a></span>
                        <a class ="button"href="{% url 'logout' %}">Logout</a></p>

                </div>
                {% else %}
                    <div style="text-align: right">
                <a class ="button" href="{% url 'userprofile:utilizator_nou' %}">Register</a>
                <a  class ="button" href="{% url 'login' %}">Login</a>
                {% endif %}
                </div>
            </nav>
</div>
<div class="container">
{% block content %}
{% endblock %}
</div>


</body>
</html>